############################################################
## Ignore default build folders
############################################################
Debug/
Debug_DLL/
Debug64/
Debug_DLL64/
Release/
Release_DLL/
Release64/
Release_DLL64/
Build/
build/
__pycache__/
.vs/
.vscode/
.bake/
html/
html_python/

############################################################


############################################################
## Ignore intermediate and binary files
############################################################
*.a
*.d
*.o
*.ko
*.la
*.lo
*.mp
*.so
*.bin
*.eep
*.elf
*.exe
*.exp
*.hex
*.ilk
*.lib
*.lss
*.map
*.obj
*.out
*.pdb
*.pyc
*.vcxproj.user
*.csproj.user
*.componentinfo.xml
*.VC.db
*.VC.opendb
*.cppcheck
*-cppcheck-build-dir/
############################################################


############################################################
## Ignore patches, backups, etc.
############################################################
*.diff
*.patch
*.bak
*.log
############################################################


############################################################
## Ignore private config files
############################################################
Private/
Makefile-genesis.properties
nbproject/*.mk
private_*
############################################################

jlink.config
jlink.log
aba_setup.cmd
SW/Common/Generated/aba
.idea
versions.*
!SW/Common/sam-ba_3.3.1/**
*- Copy.*
*.qmlc
*.jsc